 body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background: #F0F8FF;
}
.row{
    width:100%;
    margin:0;
}
.no-visible{
    visibility: hidden;
    position:absolute;
}
.container{
    max-width:none;
    margin:0px;
    padding:0px;
    width:100%;
}
.container-screen{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:40px 0;
}
/* HEADER*/
header{
    height:65px;
    width:100%;
    background-color:white;
}
.points-in-header{
    min-height:65px;
    display:flex;
    align-items:center;
    box-shadow: 0 0 100px 0 rgba(44,73,127,0.2);
    background-color:white;
}
.points{
    margin-left:160px;
}
@media screen and (max-width: 1200px) {
    .points{margin-left:20px;}
}
.hello-and-bye{
    margin-right:40px;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}
.one-point{
    margin-right:70px;
    display:inline-block;
    color: #3B5165;
    font-size:24px;
}
a{
    text-decoration:none;
}
.logout{
    margin-left:60px;
    font-size:22px;
    height:45px;
    width:130px;
    background-color:#DAE6E5;
    border:2px solid #DAE6E5;
    font-weight:400;
    border-radius:10px;
}
/* HEADER FINISH*/
/* TABLE START*/
.table-head{
  background-color: #3B5165;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color:white;
}
.border-radius-left{
  border-bottom-left-radius: 10px;
}
.border-radius-right{
  border-bottom-right-radius: 10px;
}
.cell{
  background-color: white;
  border:1px solid #F0F8FF ;
  display:flex;
  justify-content: center;
  font-size: 18px;
  overflow: hidden;
  padding:10px;
}
.table-head [class|="col"]{
  border-right: 1px solid #F0F8FF ;
  border-left: 1px solid #F0F8FF ;
  display:flex;
  justify-content: center;
  font-size: 24px;
}
.table-head .col:first-child{
  border-left-color: none;
}
.table-head .col:last-child{
  border-right-color: none;
}
.col-lg-8{
  filter: drop-shadow(0 0 100px rgba(44, 73, 127, 0.21));
}
.flex-in-line{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.flex-for-quantity{
  width: 80%;
  justify-content:flex-start;
}
.flex-for-quantity .add-button{
  margin-left: auto;
}
.mini-form {
  min-height: 50px;
  border: 1px solid none;
  border-radius: 10px;
  padding:10px 20px;
}
.form-list{
  display: flex;
  align-items: center;
  align-content:space-between;
  flex-direction: column;
  row-gap: 15px;
}
.add-form{
  background-color: #3B5165;
  min-height: 70px;
}
.textbox{
  height: 35px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid white;
  outline:none;
}
.text-on-white{
  border: 1px solid #3B5165;
}
.little{
  width: 10%;
}
.add-button{
  height:35px;
  width: 18%;
  border-radius: 10px;
  border: 1px solid #DADADA;
  background-color: #DADADA;
  color: #3B5165;
  font-size: medium;
}
.file-add{
  border-radius: 3px;
  background-color: #DADADA;
  color: #3B5165;
  font-size: 16px;
}
.after-add{
  margin-top:40px;
}
select{
  width: 30%;
  border-radius: 10px;
  font-size:15px;
  padding: 5px;
}
p{
  margin: auto 0;
}
.add{
  width: 100%;
}
.download{
  background-color: #DAE6E5;
  width: 300px;
}
.form-for-add{
  background-color: #DADADA;
  height: 35px;
  width: 300px;
  border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-for-add input {
    display: none;
}

.form-for-add label {
    background: #fff;
    cursor: pointer;
    display: grid;
    place-content: center;
    flex: 0 0 53%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #3B5165;
    color: #3B5165;
    font-size: medium;
}

.color-white{
  background-color: white;
  border: 1px solid black;
}
.form-for-add p{
  flex: 0 0 45%;
  font-size: 16px;
}
.padding-in-form{
  padding:30px
}
.padding-in-form-10{
  padding:10px
}
.without-center{
  align-items: flex-start;
}
.bordered{
  border-radius: 10px;
}
.task-head{
  justify-content: center;
  width: 98%;
  height: 135px;
  margin: 0 auto;
}
.task-head a{
    color:white;
}
.notification{
  display:flex;
  align-items: center;
  background-color: white;
  font-size: 18px;
  color: #3b5165;
  justify-content:center;
}
.active{
  font-weight:700;
}
.start-at-left{
  justify-content:flex-start;
}
.focus{
border: 1px solid #3b5165;
}


