{% extends 'maket.html' %}

{% block center %}
<div class="container-screen">
    <form method="post">
        <div class="mini-form add-form">
            <input class="textbox" type="text" name="name" id="name" placeholder="Название дисциплины">
            <input class="add-button" id="submit" type="submit" value="Добавить">
        </div>
    </form>

    <div class="row">
        <div class="col-lg-3">Дисциплина</div>
    </div>
    {% for discipline in data %}
    <div class="row">
        <div class="col-lg-12"><a href="{{ url_for('theme', discipline=discipline.id, not_discipline='') }}">{{ discipline.name }}</a></div>
    </div>
    {% endfor %}
</div>
{% endblock %}