{% extends 'maket.html' %}

{% block center %}
<div class="container-screen">
    <form method="post" class="add">
        <div class="mini-form add-form">
            <input class="textbox" type="text" name="name" id="name" placeholder="Название дисциплины">
            <input class="add-button" id="submit" type="submit" value="Добавить">
        </div>
    </form>

    <div class="table one-column after-add">
        <div class="cell">Дисциплины</div>
        {% for discipline in data %}
        <div class="cell justify-left"><a href="{{ url_for('theme', discipline=discipline.id, not_discipline='') }}">{{
            discipline.name }}</a></div>
        {% endfor %}
    </div>
    <div class="mini-form notification after-add no-visible">Вы еще не добавили ни одной дисциплины.<br>
    Вверхняя панель поможет вам это сделать.</div>
    {% endblock %}
</div>