{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">v0.4.2.0</div>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if 'student' in user_type() %}
            <li><a href="/student_task" class="nav-link px-2 link-dark">Ваши работы</a></li>
            {% endif %}
            <li><a href="/solving" class="nav-link px-2 link-dark">Нужно проверить</a></li>
            {% if 'teacher' in user_type() %}
            <li><a href="/discipline" class="nav-link px-2 link-dark">Ваши дисциплины</a></li>
            {% endif %}
        </ul>
        <div class="col-md-8 text-end">
            Добро пожаловать, {{ first_name() }} <a href="/logout">
            <button type="button" class="btn btn-outline-primary me-2">Logout</button>
        </a>
        </div>
    </header>
</div>
<div class="container">
    {% block center %}{% endblock %}
</div>
{% endblock %}