{% extends 'sign.html' %}
{% block formtitel %}Авторизация{% endblock %}
{% block formcontent %}
<form method="POST" active="#">
    <div class="user-details">
        <div class="input-box">
            <input type="email" placeholder="Введите почту" id="email" name="email" aria-describedby="email_help"
                   required>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Введите пароль" required id="password1" name="password">
        </div>
    </div>
    <div class="button">
        <input type="submit" value="Войти в профиль" id="btn_reg">
        <a href="">восстановить доступ</a>
    </div>
</form>
<div class="input-box otstup90">
    <p class="prof">Нет профиля?</p>
    <button class="registrbutton" onclick="window.location.href='{{ url_for('sign-up') }}'">Регистрация</button>
</div>
{% endblock %}