{% extends 'sign.html' %}
{% block formtitel %}Регистрация{% endblock %}
{% block formcontent %}
{% block scripts %}
<script language="JavaScript" type="text/javascript" src={{url_for('static', filename='js/registration.js' )}}></script>
{% endblock %}
 <form action="#">
        <div class="user-details">
          <div class="input-boxreg">
            <input type="text" placeholder="Введите Имя" required id="first_name" name="first_name">
            <input type="text" placeholder="Введите Фамилию" required id="last_name" name="last_name">
            <input type="text" placeholder="Введите Отчество" required id="middle_name" name="middle_name">
            <input type="email" placeholder="Введите почту" id="email" name="email" aria-describedby="email_help" required>
            <input type="password" placeholder="Придумайте пароль" required id="password1" name="password">
            <input type="password" placeholder="Повторите пароль" required id="password2" >
          </div>
        </div>
        <div class="button">
          <input type="submit" value= "Создать профиль" id="btn_reg">
        </div>
      </form>
{% endblock %}