{% extends 'my-works.html' %}

{% block content %}
<form method="post">
    <input type="file" accept="application/zip" name="zip">
    <input type="submit" value="Загрузить">
</form>
{% for solving in solvings %}
<div class="row">
    <div class="col-lg-6">{{ solving.created_at }}</div>
    <div class="col-lg-6">{{ solving.file_link }}</div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    {% for comment in solving.comments %}
    <div class="col-lg-2">comment.create_at</div>
    <div class="col-lg-9">comment.message</div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}