{% extends 'my-works.html' %}

{% block content %}
<form method="post" enctype=multipart/form-data>
    <input type="file" name="zip" accept="application/zip">
    <input type="submit" value="Загрузить">
</form>
{% for solving in data %}
<div class="row">
    <div class="col-lg-2">{{ solving.created_at }}</div>
    <div class="col-lg-10"><a href="{{ solving.href }}">{{ solving.file_name }}</a></div>
</div>
    {% for comment in solving.comments %}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">comment.create_at</div>
        <div class="col-lg-9">comment.message</div>
    </div>
    {% endfor %}
{% endfor %}
{% endblock %}