{% extends 'maket.html' %}

{% block center %}
<div class="container-screen">
    <div class="col-lg-8 ">
        {% if data %}
        <div class="row table-head">
            <div class="col">Дисциплина</div>
            <div class="col">Тема</div>
            <div class="col">Название задачи</div>
        </div>
        {% for row in data %}
        <div class="row">
            <div class="col cell border-radius-left">{{ row.task.theme.discipline }}</div>
            <div class="col cell">{{ row.task.theme }}</div>
            <div class="col cell border-radius-right">
                <a href="{% url 'app:solving_id' row.id %}">{{ row.task }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="notification mini-form">На данный момент работы, требующей Вашей проверки, нет. Отдыхайте.</div>
    {% endif %}
</div>
{% endblock %}