{% extends 'maket.html' %}

{% block center %}
<div class="container-screen">
    <div class="col-lg-8 after-add">
        <div class="row table-head task-head">
            <div class="col form-list without-center padding-in-form-10">
                <H4>{{ student_task.name }}</H4>
                <H6>Количество проверок: {{ student_task.count_review }}</H6>
                <H6><a href="{{ student_task.link }}">Ссылка</a></H6>
            </div>
        </div>
        <div class="row">
            <div class="col cell bordered">
                <div class="form-list without-center add padding-in-form">
                    <H4>Требования</H4>
                    {% for requirement in student_task.requirement %}
                    <p>{{ requirement }}</p>
                    {% endfor %}
                    <div class="add mini-form focus bordered notification after-add">Пока эта задача не имеет
                        требований
                    </div>
                    {% if student_task.load_file %}
                    <H4 class="after-add">Загрузить новое решение</H4>
                    <form method="post" class="form-list" enctype=multipart/form-data>
                        <label for="zip">Прикрепите архив zip</label>
                        <div class="flex-in-line form-for-add">
                            <input class="add-button add color-white" type="button"
                                   id="zip" name="zip" accept="application/zip"
                                   required="required" size="20971520" value="Выбрать файл">
                            <p>Файл не выбран</p>
                        </div>
                        <input class="add-button download" id="submit" type="submit" value="Загрузить">
                    </form>
                    {% endif %}
                    <H4 class="after-add">История решений</H4>
                    <div class="add">
                        <div class="row table-head">
                            <div class="col">Загружено</div>
                            <div class="col">Количество проверок</div>
                            <div class="col">Статус</div>
                        </div>
                        <div class="row">
                            <div class="col cell">Мяу</div>
                            <div class="col cell">Мяу</div>
                            <div class="col cell">Мяу</div>
                        </div>
                        <div class="row">
                            <div class="col cell">Мяу</div>
                            <div class="col cell">Мяу</div>
                            <div class="col cell">Мяу</div>
                        </div>
                        <div class="row">
                            <div class="col cell">Мяу</div>
                            <div class="col cell">Мяу</div>
                            <div class="col cell">Мяу</div>
                        </div>
                        {% for solving in student_task.solving %}
                        <div class="row">
                            <div class="col cell border-radius-left">{{ solving.created_at }}</div>
                            <div class="col cell">{{ solving.review_count }}</div>
                            {% if solving.review %}
                            <div class="col cell border-radius-right"><a
                                    href="{% url 'app:review_id' solving.review.id %}">
                                {{ solving.review.status }}</a></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="add mini-form focus bordered notification after-add">История загрузки решений
                            пуста
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}