{% extends 'maket.html' %}

{% block center %}
<div class="container">
    <div class="row">
        <h4>Задача</h4>
    </div>
    <div class="row">
        <div class="col-lg-2">Название</div>
        <div class="col-lg-10">{{ student_task.name }}</div>
    </div>
    <div class="row">
        <div class="col-lg-2">Количество проверок</div>
        <div class="col-lg-10">{{ student_task.count_review }}</div>
    </div>
    <div class="row">
        <div class="col-lg-12"><a href="{{ student_task.link }}">Ссылка</a></div>
    </div>
    <div class="row">
        <h4>Требования</h4>
    </div>
    <div class="row">
        <ul>
            {% for requirement in student_task.requirement %}
            <li>{{ requirement }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if student_task.load_file %}
    <div class="row">
        <h4>Загрузить новое решение</h4>
        <form method="post" class="col-lg-3" enctype=multipart/form-data>
            <div class="form-group">
                <label for="zip">Прикрепите архив zip</label>
                <input type="file" id="zip" class="form-control" name="zip" accept="application/zip"
                       required="required" size="20971520">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" value="Загрузить">
            </div>
        </form>
    </div>
    {% endif %}
    <div class="row">
        <h4>История решений</h4>
    </div>
    <div class="row">
        <div class="col-lg-3"> Загружено</div>
        <div class="col-lg-3"> Количество проверок</div>
        <div class="col-lg-3"> Проверки</div>
    </div>
    {% for solving in student_task.solving %}
    <div class="row">
        <div class="col-lg-3">{{ solving.created_at }}</div>
        <div class="col-lg-3">{{ solving.review_count }}</div>
        <div class="col-lg-6">
            {% for review in solving.review %}
            {{ review.status }}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}