{% extends 'maket.html' %}

{% block center %}
<div class="container-screen">
    <div class="col-lg-8 ">
        {% if data %}
        <div class="row table-head">
            <div class="col">Дисциплина</div>
            <div class="col">Тема</div>
            <div class="col">Задача</div>
            <div class="col">Статус</div>
        </div>
        {% for row in data %}
        <div class="row">
            <div class="col cell {% if data|last == student_task_item %}border-radius-left{% endif%}">
                {{ row.task.theme.discipline }}
            </div>
            <div class="col cell">{{ row.task.theme }}</div>
            <div class="col cell">
                <a href="{% url 'app:student_task_id' row.id %}">{{ row.task }}</a>
            </div>
            <div class="col cell {% if data|last == student_task_item %}border-radius-right{% endif%}">
                {{ row.student_task_status }}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="notification mini-form"> На данный момент Вы не получили ни одной работы.</div>
        {% endif %}
    </div>
</div>
{% endblock %}