{% extends 'maket.html' %}

{% block center %}
<div class="container-screen">
    <div class="col-lg-8">
        <div class="row table-head after-add">
            <div class="col">{{ task }}</div>
        </div>
        <div class="row">
            <div class="col cell border-radius-left border-radius-right">
                <form method="post" class="add form-list">
                    <p>Новое требование</p>
                    <input class="textbox text-on-white" type="text" name="text" id="text"
                           placeholder="Новое требование">
                    <input class="add-button" id="submit" type="submit" value="Добавить">
                </form>
            </div>
        </div>
        <div class="row table-head after-add">
            <div class="col">Требования</div>
        </div>
        {% for requirement in data %}
        <div class="row">
            <div class="start-at-left col cell border-radius-left border-radius-right">{{ requirement.text }}</div>
        </div>
        {% endfor %}
         <div class="mini-form notification after-add">У этой задачи пока нет никаких требований.</div>
    </div>
</div>
{% endblock %}