{% extends 'maket.html' %}

{% block scripts %}
<script language="JavaScript" type="text/javascript" src={{url_for('static', filename='js/theme.js' )}}></script>
{% endblock %}

{% block center %}
<div class="container-screen">
    <div class="col-lg-8">
        <div class="row table-head">
            <div class="col">{{ discipline.name }}</div>
        </div>
        <div class="row">
            <div class="col cell border-radius-left border-radius-right">
                <form method="post" class="add mini-form flex-in-line">
                    <input type="hidden" value="{{ discipline.id }}" name="discipline">
                    <p>Добавить студента</p>
                    <select name="group" id="group">
                        <option disabled selected>Группа</option>
                        {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="student" id="student">
                        <option disabled selected>Студент</option>
                        {% for student in students %}
                        <option value="{{ student.user_id }}">{{ student.last_name + ' ' + student.first_name[0] + '.' +
                            student.middle_name[0] + '.' }}
                        </option>
                        {% endfor %}
                    </select>
                    <input class="add-button" id="add_student_discipline" type="submit" value="Добавить">
                </form>
            </div>
        </div>
        <form method="post" class="add after-add">
            <div class="row mini-form flex-in-line add-form">
                <input class="textbox" type="text" name="name" id="name" placeholder="Название добавляемой темы">
                <input class="add-button" id="add_theme" type="submit" value="Добавить">
            </div>
        </form>
        <div class="row table-head after-add">
            <div class="col">Темы</div>
        </div>
        {% for theme in themes %}
        <div class="row">
            <div class="col cell border-radius-left border-radius-right"><a
                    href="{{ url_for('task', theme=theme.id) }}">{{ theme.name }}</a></div>
        </div>
        {% endfor %}
        <div class="mini-form notification after-add">На данный момент не создано ни одной темы</div>
    </div>
</div>
{% endblock %}